/* Ill clean all this stuff later */

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.bg-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-first {
  background-size: 6.5vw auto;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(148, 182, 255, 1) 75%, rgba(77, 136, 255, 1) 100%);
  width: 100%;
  height: 100%;
  animation: gradientMove 10s infinite linear;
}

.bg-first::after {
  content: "";
  display: block;
  background: transparent url(../img/bg/bg_pattern.png) repeat;
  /* change this to make the bg smaller or larger */
  background-size: clamp(30px, 5vh, 60px) clamp(30px, 5vh, 60px);
  background-position: 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  /* change this to make it slower/faster */
  animation: patternMove 40s infinite linear;
}

@keyframes patternMove {

  /* change these to change the direction */
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.title{
  background-color: white;
  margin: 5rem;
  border: 2rem;
  border-radius: 1rem;
}